@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Exo:200,400,600,800);
button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #a00;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Exo", Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #5d0000;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75rem;
  padding: 1.5rem; }

input,
label,
select {
  display: block;
  font-family: "Exo", Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375rem; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Exo", Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #a00;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(144, 0, 0, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375rem; }

input[type="file"] {
  padding-bottom: 0.75rem;
  width: 100%; }

select {
  margin-bottom: 1.5rem;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75rem; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75rem; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75rem 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75rem 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75rem 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Exo", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75rem;
  font-weight: 600; }

h1 {
  font-size: 2.36859em; }

h2 {
  font-size: 1.77689em; }

h3 {
  font-size: 1.333em; }

h4 {
  font-size: 1.333em; }

h5 {
  font-size: 1.333em; }

h6 {
  font-size: 1.333em; }

p {
  margin: 0 0 0.75rem; }

a {
  color: #a00;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #5d0000; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5rem 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    header.navigation ul li.nav-link.hidden-desktop {
      line-height: 2em; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; }
        header.navigation ul li.nav-link.hidden-desktop {
          display: none; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      font-weight: 400;
      text-decoration: none; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: rgba(255, 255, 255, 0.7); }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .social-profiles {
    text-align: center; }
    header.navigation .social-profiles .follow {
      height: 1em;
      line-height: 1em;
      color: white;
      margin-bottom: 0.5em; }
    header.navigation .social-profiles a {
      line-height: 1em; }
    header.navigation .social-profiles img {
      height: 2em;
      width: 2em; }

nav.posts-navigation h2 {
  background-color: #333;
  padding: 0.75rem;
  margin-bottom: 0;
  color: white;
  font-size: 1.5rem; }
nav.posts-navigation .nav-links {
  padding: 0.75rem; }
  nav.posts-navigation .nav-links::after {
    clear: both;
    content: "";
    display: table; }
  nav.posts-navigation .nav-links .nav-next {
    float: right; }
  nav.posts-navigation .nav-links .nav-previous {
    float: left; }

.popover {
  display: table;
  position: fixed;
  background-color: rgba(1, 1, 1, 0);
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s; }
  .popover.show {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); }
    .popover.show .inner {
      opacity: 1;
      cursor: zoom-out; }
  .popover .inner {
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s; }

.page article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  .page article:last-child {
    margin-right: 0; }

.home .main {
  margin: 0 auto; }
.home .latest .swiper-container {
  height: 320px; }
  .home .latest .swiper-container .swiper-pagination-bullet {
    border: 1px solid #fff; }
  @media screen and (min-width: 40em) {
    .home .latest .swiper-container {
      height: 450px; }
      .home .latest .swiper-container .swiper-pagination {
        padding: 4px 0 6px 0;
        bottom: 0px;
        background-color: #fff; } }
.home .latest .swiper-slide a {
  display: block;
  height: 100%;
  color: white; }
.home .latest .swiper-slide .content {
  background-color: rgba(0, 0, 0, 0.25);
  width: 50%;
  height: 100%;
  box-sizing: border-box; }
  @media screen and (min-width: 40em) {
    .home .latest .swiper-slide .content {
      padding: 0 3rem; } }
.home .latest .swiper-slide header {
  padding: 1.5rem 1.5rem 0 1.5rem;
  background: transparent; }
.home .latest .swiper-slide .body {
  padding: 0 1.5rem 1.5rem 1.5rem; }
.home .widget-area {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .home .widget-area::after {
    clear: both;
    content: "";
    display: table; }
@media screen and (min-width: 40em) {
  .home .widget {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .home .widget:last-child {
      margin-right: 0; } }

.grid-items-lines {
  position: relative; }
  .grid-items-lines::after {
    clear: both;
    content: "";
    display: table; }
  .grid-items-lines .grid-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #fff;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer;
    float: left;
    height: 10em;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .grid-items-lines .grid-item {
        width: 33.33333%; } }
    @media screen and (min-width: 40em) {
      .grid-items-lines .grid-item {
        width: 66.66667%; } }
    .grid-items-lines .grid-item:focus, .grid-items-lines .grid-item:hover {
      background: rgba(51, 51, 51, 0.05); }
  .grid-items-lines .grid-item img {
    display: block;
    height: 2.5em;
    margin-bottom: 1.2em;
    opacity: 0.2; }
  .grid-items-lines .grid-item h1 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: 0.4em; }
  .grid-items-lines .grid-item p {
    color: rgba(51, 51, 51, 0.6);
    line-height: 1.5em; }
    @media screen and (min-width: 40em) {
      .grid-items-lines .grid-item p {
        max-width: 70%; } }
  @media screen and (min-width: 53.75em) {
    .grid-items-lines .grid-item-big {
      width: 66.66667%; } }
  @media screen and (min-width: 40em) {
    .grid-items-lines .grid-item-big p {
      max-width: 60%; } }
  .grid-items-lines .bottom-cover {
    background: #fff;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%; }
  .grid-items-lines .right-cover {
    background: #fff;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px; }

.teasers .grid-item {
  padding: 0;
  height: 22em;
  width: 50%; }
  .teasers .grid-item .image {
    height: 10em;
    background-position: center center;
    background-size: cover;
    margin-bottom: 0.75rem; }
  .teasers .grid-item h1 {
    padding: 0 10px; }
  .teasers .grid-item p {
    max-width: 100%;
    color: #333;
    padding: 0 0.75rem; }
  @media screen and (min-width: 53.75em) {
    .teasers .grid-item {
      height: 20em;
      width: 33.33333%; }
      .teasers .grid-item .image {
        height: 8em; } }

/* single recipe */
.single-recipe .main {
  margin: 0 auto; }
.single-recipe .col-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .single-recipe .col-container::after {
    clear: both;
    content: "";
    display: table; }
.single-recipe section.intro {
  margin: 0; }
  .single-recipe section.intro .swiper-container {
    height: 240px; }
    @media screen and (min-width: 40em) {
      .single-recipe section.intro .swiper-container {
        height: 450px; } }
  .single-recipe section.intro header {
    background-color: transparent;
    margin-top: -3.75em;
    z-index: 1;
    position: relative; }
  .single-recipe section.intro .columns {
    padding: 0 0.75rem 1.5rem 0.75rem;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .single-recipe section.intro .columns::after {
      clear: both;
      content: "";
      display: table; }
    .single-recipe section.intro .columns .body {
      padding: 0; }
      @media screen and (min-width: 40em) {
        .single-recipe section.intro .columns .body {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%; }
          .single-recipe section.intro .columns .body:last-child {
            margin-right: 0; } }
    @media screen and (min-width: 40em) {
      .single-recipe section.intro .columns .meta {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .single-recipe section.intro .columns .meta:last-child {
          margin-right: 0; } }
  .single-recipe section.intro h1 {
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); }
.single-recipe section.ingredients header {
  background-color: purple; }
.single-recipe section.ingredients .body {
  padding: 0 0 0.75rem 0; }
.single-recipe section.ingredients .amount {
  width: 25%;
  padding-left: 0.75rem; }
.single-recipe section.ingredients tbody tr.selected {
  background-color: rgba(0, 255, 0, 0.25); }
.single-recipe section.steps header {
  background-color: pink; }
.single-recipe section.steps .swiper-container {
  height: auto;
  min-height: 300px; }
.single-recipe section.steps .swiper-slide {
  height: auto; }
.single-recipe section.steps .swiper-button-next, .single-recipe section.steps .swiper-button-prev {
  top: 94.5%;
  width: 40px;
  height: 40px; }
.single-recipe section.ingredients, .single-recipe section.steps {
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 40em) {
    .single-recipe section.ingredients, .single-recipe section.steps {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .single-recipe section.ingredients:last-child, .single-recipe section.steps:last-child {
        margin-right: 0; } }
.single-recipe section.nonsense header {
  background-color: teal; }
.single-recipe section.nonsense .content {
  padding: 1.5rem;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .single-recipe section.nonsense .content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 40em) {
    .single-recipe section.nonsense .content .factoid, .single-recipe section.nonsense .content .gauge, .single-recipe section.nonsense .content .rating {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .single-recipe section.nonsense .content .factoid:last-child, .single-recipe section.nonsense .content .gauge:last-child, .single-recipe section.nonsense .content .rating:last-child {
        margin-right: 0; } }
  .single-recipe section.nonsense .content .gauge, .single-recipe section.nonsense .content .rating {
    text-align: center; }
  .single-recipe section.nonsense .content .gauge svg {
    display: block;
    margin: 0 auto; }

body {
  margin: 0; }
  body .main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin: 0.75rem; }
    body .main::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 68em) {
      body .main {
        margin: 1.5rem auto; } }

@media screen and (min-width: 53.75em) {
  .hidden-desktop {
    display: none; } }

/* sections */
section header {
  background-color: #333;
  padding: 0.75rem; }
  section header h1, section header h2, section header h3 {
    margin-bottom: 0;
    color: white; }
  section header.page-header, section header.teaser-header {
    background-color: transparent;
    padding: 0; }
    section header.page-header h1, section header.page-header h2, section header.page-header h3, section header.teaser-header h1, section header.teaser-header h2, section header.teaser-header h3 {
      color: #333; }
section .body {
  padding: 0 0.75rem; }

/* widgets */
.widget .widget-title {
  background-color: #333;
  padding: 0.75rem;
  margin-bottom: 0;
  color: white;
  font-size: 1.5rem; }
.widget .tagcloud, .widget ul {
  padding: 0.75rem; }

/* archive */
@media screen and (min-width: 40em) {
  body.archive .posts {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    body.archive .posts:last-child {
      margin-right: 0; }
  body.archive .widget-area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    body.archive .widget-area:last-child {
      margin-right: 0; } }

/* comments */
#comments {
  padding: 0 0.75rem; }

/* carousels */
.swiper-container {
  width: 100%;
  height: 300px; }
  .swiper-container .swiper-pagination-bullet {
    height: 0.75rem;
    width: 0.75rem;
    background: #333;
    opacity: 1; }
  .swiper-container .swiper-pagination-bullet-active {
    background: #aa0000;
    opacity: 1; }
  .swiper-container .swiper-button-prev {
    background: url("../img/arrow-left.svg");
    background-size: cover; }
  .swiper-container .swiper-button-next {
    background: url("../img/arrow-right.svg");
    background-size: cover; }
  .swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {
    display: none;
    height: 64px;
    width: 64px; }
    .swiper-container .swiper-button-next .arrow, .swiper-container .swiper-button-prev .arrow {
      fill: #a00; }
    @media screen and (min-width: 40em) {
      .swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {
        display: initial; } }

.swiper-slide {
  background-position: 50% 50%;
  background-size: cover; }
  .swiper-slide h3 {
    padding: 0.75rem 0.75rem 0 0.75rem; }
  .swiper-slide p {
    padding: 0 0.75rem; }

/* social media muck */
section.sharing header {
  background-color: darkkhaki; }
section.sharing .body {
  margin: 0;
  padding-top: 8px;
  background-color: #333;
  text-align: center; }

.social-media img {
  width: 2em;
  height: 2em;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  margin: 0 3px; }
.social-media.qr-popup img {
  padding: 5px; }

/* tags */
tag {
  display: inline-block;
  padding: 0 0.75rem;
  margin-bottom: 0.5rem;
  background-color: #333;
  color: #fff;
  border-radius: 3px; }

/* cats (meow) */
cat {
  display: inline-block;
  padding: 0 0.75rem;
  margin-bottom: 0.5rem;
  background-color: #a00;
  color: #fff;
  border-radius: 3px; }

hr {
  margin-top: 0.75em;
  margin-bottom: -webkit-calc(0.75em - 1px);
  margin-bottom: calc(0.75em - 1px); }

blockquote {
  top: -1rem;
  font-family: "Georgia Pro", Georgia, Times, serif; }
  blockquote:before, blockquote:after {
    display: block;
    position: relative;
    font-size: 3rem;
    line-height: 0;
    color: #ddd; }
  blockquote:before {
    content: '\201C';
    left: -50%;
    top: 1rem; }
  blockquote:after {
    content: '\201D';
    left: 50%;
    top: -0.5rem; }
  blockquote p {
    padding: 0 0.75rem;
    font-family: "Exo", Arial, sans-serif; }

/*# sourceMappingURL=styles.css.map */
