.home.page-template-default {
    .main {
        margin: 0 auto;

        .latest {
            .slick-container{

                .slick-pagination-bullet {
                    border: 1px solid $base-background-color;
                }

                @include media( $large-screen ) {
                    height: 450px;

                    .slick-pagination {
                        padding: 4px 0 6px 0;
                        bottom: 0px;
                        background-color: $base-background-color;
                    }
                }
            }

            .slick-slide {
                background-position: center center;
                background-size: cover;

                a {
                    display: block;
                    height: 100%;
                    color: white;
                }

                .content {
                    background-color: rgba( 0, 0, 0, 0.25 );
                    width: 50%;
                    min-height: 320px;
                    box-sizing: border-box;

                    @include media( $medium-screen-up ) {
                        min-height: 420px;
                        padding: 0 $base-spacing * 2;
                    }
                }

                header {
                    padding: $base-spacing $base-spacing 0 $base-spacing;
                    background: transparent;
                }
                .body {
                    padding: 0 $base-spacing $base-spacing $base-spacing;
                }
            }
        }


        .page-content {
            @include outer-container;
            @include media( $medium-screen-up ) {
                padding: 0 $base-spacing;
            }

            article {
                @include media( $medium-screen-up ) {
                    @include span-columns( 8 );
                    margin-left: 0;
                }
            }

            .widget-area {
                @include media( $medium-screen-up ) {
                    @include span-columns( 4 );
                }
            }
            .widget {
            }
        }
    }
}