@media print {

	body {
		font-size: 0.75rem;
	}

	header.navigation .logo .printable-sitename {
		display: inline-block;
	}

	.navigation-menu-button,
	.entry-footer,
	.social,
	.nonsense {
		display: none !important;
	}

	.slick-prev,
	.slick-next,
	.slick-dots {
		display: none;
	}

	.single-recipe {
		.cats,
		.tags {
			display: inline-block;
		}

		.ingredients,
		.steps {
			@include span-columns( 6 );
		}

		.ingredients {
			.printable-qr-code {
				display: block;

				svg {
					#elements {
						fill: black;
					}
				}
			}
		}

		.steps {
			.slick-container {
				display: none;
			}

			.printable-steps {
				display: block;
				padding: $small-spacing;
			}
		}

		.factoid, .gauge, .rating {
			@include span-columns(3);
			@include omega(4n);
			border: none;
		}
	}
}