/* single recipe */
.single-recipe {

    .main {
        margin: 0 auto;
    }

    .col-container {
        @include outer-container;
    }

	section {
		&.intro {
			margin: 0;

			.swiper-container {
				height: 240px;

				@include media( $medium-screen-up ) {
					height: 450px;
				}
			}

			header {
				background-color: transparent;
				margin-top: -3.75em;
				z-index: 1;
				position: relative;
			} 

			.columns {
                padding: 0 $small-spacing $base-spacing $small-spacing;
                @include outer-container;

                .body {
                    padding: 0;
                    @include media( $medium-screen-up ) {
                      @include span-columns( 8 );
                    }
                }

                .meta {
                    @include media( $medium-screen-up ) {
                        @include span-columns( 4 );
                    }
                }
			}

			h1 {
				color: white;
				text-shadow: 1px 1px 5px rgba( 0, 0, 0, 0.7 );
			}
		}

		&.ingredients {
  			header {
				background-color: purple;
			}

            .body {
                padding: 0 0 $small-spacing 0;
            }

            .amount {
                width: 25%;
                padding-left: $small-spacing;
            }

			tbody tr.selected {
				background-color: rgba( 0,255,0,0.25 );
			}
		}

		&.steps {
  			header {
				background-color: pink;
			}

            .swiper-container {
                height: auto;
                min-height: 300px;
            }

            .swiper-slide {
                height: auto;
            }

            .swiper-button-next, .swiper-button-prev {
                top: 94.5%;
                width: 40px;
                height: 40px;
            }
		}

        &.ingredients, &.steps {
            margin-bottom: $base-spacing;
            @include media( $medium-screen-up ) {
                @include span-columns( 6 );
            }
        }

		&.nonsense {
			header {
				background-color: teal;
			}

            .content {
                padding: $base-spacing;
                @include outer-container;

                .factoid, .gauge, .rating {
                    @include media( $medium-screen-up ) {
                        @include span-columns( 3 );
                    }
                }

                .gauge, .rating {
                    text-align: center;
                }
            }
		}		
	}
}