/* single recipe */
.single-recipe {

    .col-container {
        @include outer-container;
    }

	section {
		&.intro {
			margin: 0;

			.swiper-container {
				height: 240px;

				@media screen and ( min-width: 600px ) {
					height: 450px;
				}
			}

			header {
				background-color: transparent;
				margin-top: -3.75em;
				z-index: 1;
				position: relative;
			} 

			.body {
				padding: 0 10px 20px 10px;
			}

			h1 {
				color: white;
				text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
			}
		}

		&.ingredients {
			header {
				background-color: purple;
			}

			tbody tr.selected {
				background-color: rgba( 0,255,0,0.25 );
			}
		}

		&.steps {
			header {
				background-color: pink;
			}
		}

        &.ingredients, &.steps {
            @include span-columns(6);
            @include media( max-width 600px ) {
                @include span-columns(12);
            }
        }

		&.nonsense {
			header {
				background-color: teal;
			}
		}		
	}
}