@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "mixins";
@import "navigation";
@import "popovers";
@import "page";
@import "front-page";
@import "grid-items";
@import "recipe";
@import "slick";

body {
	margin: 0;

    .main {
        @include outer-container;
        margin: $small-spacing;
        @include media( $full-screen-up ) {
            margin: $base-spacing auto;
        }
    }
}

.hidden-desktop {
	@include media ( $horizontal-bar-mode ) {
		display: none;
	}
}


/* sections */
section {
	header {
		background-color: $navigation-background;
		padding: $small-spacing;

		h1, h2, h3 {
			margin-bottom: 0;
			color: white;
		}

        &.page-header, &.teaser-header{
            background-color: transparent;
            padding: 0;

            h1, h2, h3 {
                color: $dark-gray;
            }
        }
	}

	.body {
		padding: 0 $small-spacing;
	}
}


/* widgets */
.widget {
    .widget-title {
        background-color: $navigation-background;
        padding: $small-spacing;
        margin-bottom: 0;
        color: white;
        font-size: 1.5rem;
    }

    .tagcloud, ul {
        padding: $small-spacing;
    }
}


/* archive */
body.archive {
    @include media( $medium-screen-up ) {
        .posts {
            @include span-columns( 9 );
        }
        .widget-area {
            @include span-columns( 3 );
        }
    }
}

/* comments */
#comments {
  padding: 0 $small-spacing;
}


/* carousels */
.swiper-container {
	width: 100%;
	height: 300px;

    .swiper-pagination-bullet {
        height: $small-spacing;
        width: $small-spacing;
        background: $dark-gray;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #aa0000;
        opacity: 1;
    }

    .swiper-button-prev {
        background: url( '../img/arrow-left.svg' );
        background-size: cover;
    }

    .swiper-button-next {
      background: url( '../img/arrow-right.svg' );
      background-size: cover;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none;
        height: 64px;
        width: 64px;

        .arrow {
            fill: $chili-red;
        }

        @include media( $medium-screen-up ) {
            display: initial;
        }
    }
}

.swiper-slide {
	background-position: 50% 50%;
	background-size: cover;

	h3 {
		padding: $small-spacing $small-spacing 0 $small-spacing;
	}
	p {
		padding: 0 $small-spacing;
	}
}


/* social media muck */
.social {
	@include outer-container;

	section.sharing,
	section.follow {
		@include media( $medium-screen-up ) {
			@include span-columns( 6 );
			//@include omega( 2n );
		}

		header {
			background-color: darkkhaki;
		}

		.body {
			margin: 0;
			padding-top: 8px;
			background-color: $navigation-background;
			text-align: center;
		}
	}

	section.follow {
		header {
			background-color: limegreen;
		}
	}

	.social-media {
		img {
			width: 2em;
			height: 2em;
			border: 1px solid rgba( 0,0,0,0.75 );
			border-radius: 5px;
			margin: 0 3px;
		}

		&.qr-popup img {
			padding: 5px;
		}
	}
}


/* tags */
.tag {
    display: inline-block;
    padding: 0 $small-spacing;
    margin-bottom: 0.5rem;
    background-color: $navigation-background;
    color: $base-background-color;
    border-radius: $base-border-radius;
}

/* cats (meow) */
.cat {
    display: inline-block;
    padding: 0 $small-spacing;
    margin-bottom: 0.5rem;
    background-color: $chili-red;
    color: $base-background-color;
    border-radius: $base-border-radius;
}


hr {
    margin-top: 0.75em;
    @include calc(margin-bottom, "0.75em - 1px");
}

blockquote {
    top: -1rem;
    font-family: "Georgia Pro", Georgia, Times, serif;

    &:before, &:after {
        display: block;
        position: relative;
        font-size: 3rem;
        line-height: 0;
        color: $light-gray;
        text-align: initial;
    }

    &:before {
        content:  '\201C';
        left: -1.33rem;
        top: 1rem;
    }

    &:after {
        content: '\201D';
        left: 0;
        top: -0.5rem;
        margin-left: 100%;
    }

    p {
        padding: 0 $small-spacing;
        font-family: $base-font-family;
    }
}