@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "navigation";
@import "popovers";
@import "front-page";
@import "grid-items";
@import "recipe";


body {
	margin: 0;

    .main {
        @include outer-container;
        margin: $small-spacing;
        @include media( $full-screen-up ) {
            margin: $base-spacing auto;
        }
    }
}

.hidden-desktop {
	@include media ( $horizontal-bar-mode ) {
		display: none;
	}
}


/* sections */
section {
	header {
		background-color: $navigation-background;
		padding: $small-spacing;

		h1, h2, h3 {
			margin-bottom: 0;
			color: white;
		}

        &.page-header, &.teaser-header{
            background-color: transparent;
            padding: 0;

            h1, h2, h3 {
                color: $dark-gray;
            }
        }
	}

	.body {
		padding: 0 $small-spacing;
	}
}


/* archive */
body.archive {
    @include media( $medium-screen-up ) {
        .teasers {
            @include span-columns( 9 );
        }
        .sidebar {
            @include span-columns( 3 );
        }
    }
}

/* comments */
#comments {
  padding: 0 $small-spacing;
}


/* carousels */
.swiper-container {
	width: 100%;
	height: 300px;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
    @include media( $medium-screen-up ) {
	    display: initial;
    }
}

.swiper-slide {
	background-position: 50% 50%;
	background-size: cover;

	h3 {
		padding: $small-spacing $small-spacing 0 $small-spacing;
	}
	p {
		padding: 0 $small-spacing;
	}
}


/* social media muck */
section.sharing {
	header {
		background-color: darkkhaki;
	}

	.body {
		margin: 0;
		padding-top: 8px;
		background-color: $navigation-background;
		text-align: center;
	}
}

.social-media {
	img {
		width: 2em;
		height: 2em;
		border: 1px solid rgba( 0,0,0,0.75 );
		border-radius: 5px;
		margin: 0 3px;
	}

    &.qr-popup img {
        padding: 5px;
    }
}


/* tags */
tag {
    display: inline-block;
    padding: 0 $small-spacing;
    background-color: $navigation-background;
    color: $base-background-color;
    border-radius: $base-border-radius;
}